<p class="social-links">
    <a href="https://github.com/zwaldowski"><i class="icon icon-github"></i></a>
    <a href="https://twitter.com/zwaldowski"><i class="icon icon-twitter"></i></a>
    <a href="https://alpha.app.net/zw"><i class="icon icon-adn"></i></a>
    <a href="https://google.com/+zacharywaldowski?rel=author"><i class="icon icon-gplus"></i></a>
    <a href="{{@blog.url}}/rss/"><i class="icon icon-rss"></i></a>
</p>
