@import "compass/css3/font-face";

@include font-face("SourceSansPro", font-files("../fonts/SourceSansPro/Light.woff", woff,
                                               "../fonts/SourceSansPro/Light.ttf", truetype,
                                               "../fonts/SourceSansPro/Light.svg", svg),
                                               "../fonts/SourceSansPro/Light.eot", 300);
@include font-face("SourceSansPro", font-files("../fonts/SourceSansPro/LightIt.woff", woff,
                                               "../fonts/SourceSansPro/LightIt.ttf", truetype,
                                               "../fonts/SourceSansPro/LightIt.svg", svg),
                                               "../fonts/SourceSansPro/LightIt.eot", 300, italic);
@include font-face("SourceSansPro", font-files("../fonts/SourceSansPro/Bold.woff", woff,
                                               "../fonts/SourceSansPro/Bold.ttf", truetype,
                                               "../fonts/SourceSansPro/Bold.svg", svg),
                                               "../fonts/SourceSansPro/Bold.eot", bold);
@include font-face("SourceSansPro", font-files("../fonts/SourceSansPro/BoldIt.woff", woff,
                                               "../fonts/SourceSansPro/BoldIt.ttf", truetype,
                                               "../fonts/SourceSansPro/BoldIt.svg", svg),
                                               "../fonts/SourceSansPro/BoldIt.eot", bold, italic);

$font-size: 62.5%;
$font-base: 'SourceSansPro', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$font-weight-light: 300;
$font-weight-bold: bold;
